<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: "Klavika regular plain";
  src: url("../fonts/klavika_regular_plain-webfont.eot");
  src: url("../fonts/klavika_regular_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_regular_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_regular_plain-webfont.woff") format("woff"), url("../fonts/klavika_regular_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_regular_plain-webfont.svg#Klavika regular plain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "klavika medium plain";
  src: url("../fonts/klavika_medium_plain-webfont.eot");
  src: url("../fonts/klavika_medium_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_medium_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_medium_plain-webfont.woff") format("woff"), url("../fonts/klavika_medium_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_medium_plain-webfont.svg#klavika medium plain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "klavika bold";
  src: url("../fonts/klavika_bold_bold-webfont.eot");
  src: url("../fonts/klavika_bold_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_bold_bold-webfont.woff2") format("woff2"), url("../fonts/klavika_bold_bold-webfont.woff") format("woff"), url("../fonts/klavika_bold_bold-webfont.ttf") format("truetype"), url("../fonts/klavika_bold_bold-webfont.svg#klavika bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "klavika light plain";
  src: url("../fonts/klavika_light_plain-webfont.eot");
  src: url("../fonts/klavika_light_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_light_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_light_plain-webfont.woff") format("woff"), url("../fonts/klavika_light_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_light_plain-webfont.svg#klavika light plain") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Klavika regular plain", "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-size: 18px; }
  @media screen and (max-width: 320px) {
    body {
      font-size: 14px; } }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  @media screen and (max-width: 764px) {
    .wrapper {
      padding: 0 30px; } }
  @media screen and (max-width: 320px) {
    .wrapper {
      padding: 0 22px; } }

header h3, h1, main article h2, aside h4, .gallery h2, .demo-description q, .demo-description cite {
  font-weight: normal;
  margin: 0; }

nav.main-menu, .gallery figcaption {
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "klavika medium plain";
  text-align: justify; }

aside input[type="text"], aside input[type="submit"], aside textarea {
  width: 100%;
  border: 1px solid #cac9c9;
  border-radius: 2px;
  outline: none;
  background: #dedddd;
  margin-bottom: 1.11em;
  padding: 0.56em;
  font-size: 1em;
  font-family: "klavika light plain"; }

header nav.about_us a, nav.main-menu a, footer .items .services a {
  font-size: 0.9em;
  color: #ffffff;
  text-decoration: none; }

h5, h3 > span, h6 > span, cite > span,
p > span:first-child {
  font-family: "klavika bold"; }

header .header-bg {
  background: url(../images/bg-header.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    header .header-bg {
      text-align: center; } }
header h3 {
  font-size: 1.56em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0.75em 0;
  display: inline-block; }
  @media screen and (max-width: 764px) {
    header h3 {
      font-size: 1em;
      margin: 1.3em 0; } }
  @media screen and (max-width: 320px) {
    header h3 {
      margin: 1em 0; } }
header nav.about_us {
  float: right; }
  @media screen and (max-width: 320px) {
    header nav.about_us {
      display: none; } }
  header nav.about_us li {
    display: inline-block;
    padding-top: 24px; }
    @media screen and (max-width: 764px) {
      header nav.about_us li:last-child a {
        font-family: "klavika bold"; } }
    header nav.about_us li:not(:last-child) {
      padding-right: 31px; }
    @media screen and (max-width: 764px) {
      header nav.about_us li {
        padding-top: 43px; } }
  @media screen and (max-width: 764px) {
    header nav.about_us a {
      font-size: 0.8em; } }
@media screen and (max-width: 320px) {
  header .open-nav {
    cursor: pointer;
    height: 26px;
    position: absolute;
    top: 17px;
    right: 13px; }
    header .open-nav:before {
      content: "";
      display: block;
      width: 33px;
      height: 3px;
      background: #ffffff;
      border-radius: 10%;
      box-shadow: 0 8px #ffffff, 0 16px #ffffff; } }

@media screen and (max-width: 320px) {
  nav.main-menu {
    display: none; } }
nav.main-menu li {
  display: inline-block;
  line-height: 2.35em; }
  nav.main-menu li.has_submenu a:after {
    content: ">";
    display: inline-block;
    -webkit-transform: rotate(90deg) translate(-2px, -10px);
    -moz-transform: rotate(90deg) translate(-2px, -10px);
    -ms-transform: rotate(90deg) translate(-2px, -10px);
    -o-transform: rotate(90deg) translate(-2px, -10px);
    transform: rotate(90deg) translate(-2px, -10px);
    color: #000000; }
    @media screen and (max-width: 764px) {
      nav.main-menu li.has_submenu a:after {
        margin-left: -8px; } }
  nav.main-menu li.helper {
    width: 100%;
    height: 0;
    visibility: hidden; }
  nav.main-menu li:nth-last-child(2) {
    display: none; }
nav.main-menu a {
  color: #a71c1c; }
  @media screen and (max-width: 764px) {
    nav.main-menu a {
      font-size: 0.78em; } }

.slider-wrapper {
  margin-top: -20px; }
  @media screen and (max-width: 320px) {
    .slider-wrapper {
      margin-top: -6px; } }
  .slider-wrapper + .wrapper {
    position: relative; }
  .slider-wrapper .slide-img img {
    width: 100%; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  top: 15px;
  right: 46%; }
  @media screen and (max-width: 320px) {
    .slick-dots {
      top: 3px;
      right: 38%; } }
  @media screen and (max-width: 320px) {
    .slick-dots li {
      margin: 0 -4px; } }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    background: #ffffff; }
  .slick-dots li button:before {
    content: "";
    opacity: 1;
    border: 2px solid #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%; }
    @media screen and (max-width: 320px) {
      .slick-dots li button:before {
        width: 3px;
        height: 3px; } }

h1 {
  padding: 0.32em 0.32em 0.2em 0.5em;
  width: 64.34%;
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 3.3em;
  color: #ffffff;
  background: url(../images/bg-logo.png) 0 0 no-repeat;
  background-size: cover; }
  @media screen and (max-width: 764px) {
    h1 {
      font-size: 2em;
      line-height: 1.2em;
      left: -1px;
      width: auto;
      padding: 0.5em 0.5em 0.5em 0.75em; } }
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 1.6em;
      right: 0;
      padding: 9px 22px; } }

main {
  background: #f2f2f2; }
  main article {
    padding-top: 35px;
    padding-bottom: 50px;
    float: left;
    width: 64.34%;
    font-family: "Roboto", Arial, sans-serif; }
    @media screen and (max-width: 764px) {
      main article {
        width: 100%;
        float: none;
        overflow: hidden; } }
    @media screen and (max-width: 320px) {
      main article {
        padding: 19px 0 0; } }
    main article h2 {
      font-size: 2em;
      color: #c82121;
      font-family: "Klavika regular plain"; }
      @media screen and (max-width: 320px) {
        main article h2 {
          font-size: 1.6em; } }

h5 {
  font-size: 1.1em;
  color: #c82121;
  margin: 1.5em 0 1.1em; }

p {
  line-height: 1.333em; }

section.list {
  width: 50%; }
  @media screen and (max-width: 320px) {
    section.list {
      width: 100%; } }
  section.list:nth-child(n) {
    float: left; }
  section.list:nth-child(2n) {
    float: right; }
  section.list ul {
    list-style-image: url(../images/list.png);
    padding: 0 25px 0 20px;
    font-size: 0.89em;
    line-height: 1.2em; }
    @media screen and (max-width: 320px) {
      section.list ul {
        padding: 0 22px;
        font-size: 1em; } }
  section.list li {
    margin: 20px 0; }
    @media screen and (max-width: 320px) {
      section.list li {
        margin: 10px 0; } }

aside {
  width: 30.33%;
  position: relative;
  float: right;
  border-left: 3px solid #dedede;
  margin-top: -165px;
  background-color: #f2f2f2;
  padding: 30px 30px 0; }
  @media screen and (max-width: 764px) {
    aside {
      position: static;
      float: none;
      width: 100%;
      margin-top: 0;
      padding: 0;
      border-left: none;
      border-top: 2px solid #dedede; } }
  aside :focus::-moz-placeholder {
    color: transparent; }
  aside :focus::-webkit-input-placeholder {
    color: transparent; }
  aside :focus:-o-input-placeholder {
    color: transparent; }
  aside :focus:-ms-input-placeholder {
    color: transparent; }
  aside :focus::placeholder {
    color: transparent; }
  aside h4 {
    margin-bottom: 0.8em;
    font-size: 1.25em;
    color: #a71c1c; }
    @media screen and (max-width: 764px) {
      aside h4 {
        margin-top: 35px;
        font-size: 2em; } }
    @media screen and (max-width: 320px) {
      aside h4 {
        font-size: 1.5em; } }
  aside input::-moz-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input::-webkit-input-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input:-o-input-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input:-ms-input-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input::placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  @media screen and (max-width: 764px) {
    aside input[type="text"] {
      height: 32px; } }
  aside input[type="checkbox"] {
    margin-bottom: 1.1em; }
    aside input[type="checkbox"] + label {
      font-family: "klavika light plain"; }
  aside input[type="submit"] {
    margin-bottom: 0;
    background: #c52020;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "klavika medium plain"; }
    @media screen and (max-width: 320px) {
      aside input[type="submit"] {
        padding: 0.9em; } }
  aside textarea {
    height: 7.6em; }
    aside textarea::-moz-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea::-webkit-input-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea:-o-input-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea:-ms-input-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea::placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
  @media screen and (max-width: 764px) {
    aside .left-wrapper {
      width: 50%;
      padding-right: 10px;
      margin-bottom: 55px;
      float: left; } }
  @media screen and (max-width: 764px) and (max-width: 320px) {
    aside .left-wrapper {
      width: 100%;
      padding-right: 0;
      margin-bottom: 0; } }
  @media screen and (max-width: 764px) {
      aside .left-wrapper .checkbox {
        margin-top: 15px; } }
    @media screen and (max-width: 764px) and (max-width: 320px) {
      aside .left-wrapper .checkbox {
        margin-top: 0; } }
  @media screen and (max-width: 764px) {
    aside .right-wrapper {
      float: right;
      width: 50%;
      padding-left: 10px;
      margin-bottom: 55px; } }
  @media screen and (max-width: 764px) and (max-width: 320px) {
    aside .right-wrapper {
      width: 100%;
      padding-left: 0; } }

.gallery {
  background: #e2e1e1;
  overflow: hidden;
  padding-bottom: 70px; }
  @media screen and (max-width: 764px) {
    .gallery {
      padding-bottom: 0; } }
  .gallery h2 {
    margin: 1.6em 0 1.1em;
    color: #383838; }
    @media screen and (max-width: 320px) {
      .gallery h2 {
        margin: 1em 0;
        font-size: 1.6em; } }
  .gallery section .photo {
    width: 68.2%;
    float: left; }
    @media screen and (max-width: 764px) {
      .gallery section .photo {
        width: 100%; } }
  .gallery section .slider-wrapper {
    width: 31.8%;
    float: right;
    margin: 0; }
    @media screen and (max-width: 764px) {
      .gallery section .slider-wrapper {
        width: 100%;
        margin-top: 20px; } }
  .gallery figure {
    float: left;
    width: 31%;
    position: relative;
    margin: 0 2% 2% 0; }
    @media screen and (max-width: 764px) {
      .gallery figure {
        margin-right: 3.5%; } }
    @media screen and (max-width: 320px) {
      .gallery figure {
        width: 49%;
        margin: 1% 0 1%; } }
    @media screen and (max-width: 764px) {
      .gallery figure:nth-child(3n) {
        margin-right: 0; } }
    @media screen and (max-width: 320px) {
      .gallery figure:nth-child(even) {
        margin-left: 1%; } }
    .gallery figure img {
      width: 100%; }
  .gallery figcaption {
    height: 40%;
    background: rgba(204, 51, 51, 0.7);
    color: #ffffff;
    padding: 6% 8% 5%;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0; }
    @media screen and (max-width: 320px) {
      .gallery figcaption {
        bottom: 3px;
        font-size: 0.8em; } }
    .gallery figcaption > span {
      padding-top: 1%;
      display: block;
      font-size: 0.83rem;
      text-transform: none; }
      @media screen and (max-width: 320px) {
        .gallery figcaption > span {
          font-size: 0.9em; } }

.demo-img {
  position: relative;
  width: 100%; }
  @media screen and (max-width: 764px) {
    .demo-img img {
      width: 100%; } }

.demo-description {
  margin: 26px;
  position: absolute;
  bottom: 0;
  line-height: 2.2em; }
  @media screen and (max-width: 764px) {
    .demo-description {
      margin-right: 90px;
      bottom: 79px; } }
  @media screen and (max-width: 320px) {
    .demo-description {
      margin-right: 10px;
      bottom: 0; } }
  .demo-description q {
    font-size: 2.2em;
    color: #ffffff; }
    @media screen and (max-width: 764px) {
      .demo-description q {
        font-size: 3em;
        line-height: 1.25em; } }
    @media screen and (max-width: 320px) {
      .demo-description q {
        font-size: 2em; } }
    .demo-description q:before {
      position: absolute;
      top: -8%;
      left: -3%;
      font-size: 4em; }
    .demo-description q:after {
      content: no-close-quote; }
  .demo-description cite {
    display: block;
    font-size: 0.833em;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal; }
    @media screen and (max-width: 764px) {
      .demo-description cite {
        font-size: 1em; } }
    @media screen and (max-width: 320px) {
      .demo-description cite {
        font-size: 0.8em; } }

.demo .slick-prev {
  z-index: 1;
  top: 8%;
  left: 80%; }
  @media screen and (max-width: 764px) {
    .demo .slick-prev {
      left: 87%; } }
  @media screen and (max-width: 320px) {
    .demo .slick-prev {
      left: 81%; } }
  .demo .slick-prev:before {
    content: '<'; }
    @media screen and (max-width: 320px) {
      .demo .slick-prev:before {
        font-size: 15px; } }
.demo .slick-next {
  top: 8%;
  right: 5%; }
  .demo .slick-next:before {
    content: '>'; }
    @media screen and (max-width: 320px) {
      .demo .slick-next:before {
        font-size: 15px; } }

.slick-slider .slick-track {
  -webkit-transform: 1s;
  -moz-transform: 1s;
  -ms-transform: 1s;
  -o-transform: 1s;
  transform: 1s; }

footer {
  color: #ffffff;
  background: url(../images/bg-footer.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden; }
  footer h2 {
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 1.8em 0 1.25em; }
    @media screen and (max-width: 320px) {
      footer h2 {
        display: none; } }
  footer .contacts {
    width: 50%;
    float: right;
    padding-left: 115px;
    overflow: hidden; }
    @media screen and (max-width: 764px) {
      footer .contacts {
        width: 100%;
        padding-left: 0; } }
    footer .contacts h6 {
      margin: 2.4em 0 1.25em;
      font-size: 1.6em;
      font-weight: normal; }
      @media screen and (max-width: 764px) {
        footer .contacts h6 {
          font-size: 1.4em; } }
    footer .contacts p {
      padding-bottom: 37px; }
      @media screen and (max-width: 764px) {
        footer .contacts p {
          display: block;
          width: 50%;
          float: left; } }
      @media screen and (max-width: 320px) {
        footer .contacts p {
          width: 100%;
          padding-bottom: 30px;
          font-size: 0.75em; } }
      footer .contacts p > span {
        display: inline-block;
        font-size: 1.06em;
        line-height: 1.67em; }
      @media screen and (max-width: 764px) {
        footer .contacts p:last-child {
          float: right;
          padding-left: 30px; } }
      @media screen and (max-width: 320px) {
        footer .contacts p:last-child {
          padding-left: 0; } }
      @media screen and (max-width: 320px) {
        footer .contacts p:last-child > span {
          display: block; } }
  footer .items {
    width: 50%;
    float: left;
    padding-right: 15px;
    overflow: hidden; }
    @media screen and (max-width: 764px) {
      footer .items {
        width: 100%; } }
    footer .items .services a {
      border-bottom: 1px solid #b04848;
      display: block;
      line-height: 2.4em; }
      @media screen and (max-width: 764px) {
        footer .items .services a {
          font-size: 1em; } }
      footer .items .services a:empty {
        height: 2.4em; }
        @media screen and (max-width: 320px) {
          footer .items .services a:empty {
            display: none; } }
    footer .items .services.either {
      margin-top: 65px; }
      @media screen and (max-width: 320px) {
        footer .items .services.either {
          margin-top: 0; } }
    footer .items .services ul:nth-child(odd), footer .items .services.either ul:nth-child(odd) {
      width: 50%;
      float: left;
      padding-right: 30px; }
      @media screen and (max-width: 320px) {
        footer .items .services ul:nth-child(odd), footer .items .services.either ul:nth-child(odd) {
          width: 100%; } }
    footer .items .services ul:nth-child(even), footer .items .services.either ul:nth-child(even) {
      width: 50%;
      float: right; }
      @media screen and (max-width: 320px) {
        footer .items .services ul:nth-child(even), footer .items .services.either ul:nth-child(even) {
          width: 100%; } }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul > h5 {
    margin-top: 0;
    margin-bottom: 0.7em;
    font-size: 1.1em;
    color: #ffffff;
    text-transform: uppercase; }
    @media screen and (max-width: 320px) {
      ul > h5 {
        margin-top: 57px; } }

.copyright {
  margin-top: 100px;
  margin-bottom: 120px;
  border-top: 1px solid #b04848; }
  @media screen and (max-width: 764px) {
    .copyright {
      margin-top: 0;
      margin-bottom: 66px; } }
  .copyright p:first-child {
    font-size: 0.6em;
    line-height: 2.8em;
    font-family: Arial;
    float: left; }
    .copyright p:first-child > span {
      font-weight: bold; }
      .copyright p:first-child > span:before {
        content: "";
        display: inline-block;
        background: url(../images/sprite.png) 0 -15px no-repeat;
        height: 18px;
        width: 18px;
        vertical-align: top;
        margin: 5px 8px 0 5px; }
  .copyright p:last-child {
    float: right;
    font-size: 0.8em; }
    @media screen and (max-width: 764px) {
      .copyright p:last-child {
        display: none; } }

p > span {
  margin-right: 1.35em; }

@media screen and (max-width: 320px) {
  #tel {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: #787878;
    font-family: "klavika light plain"; }
    #tel > span {
      display: block;
      padding: 10px 0;
      font-size: 2em;
      color: #c72121;
      font-family: inherit; } }
.to_top {
  display: none; }
  @media screen and (max-width: 320px) {
    .to_top {
      display: block;
      border: 2px solid #ffffff;
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
      color: #ffffff;
      line-height: 34px; } }

/*# sourceMappingURL=styles.css.map */
=======
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: "Klavika regular plain";
  src: url("../fonts/klavika_regular_plain-webfont.eot");
  src: url("../fonts/klavika_regular_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_regular_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_regular_plain-webfont.woff") format("woff"), url("../fonts/klavika_regular_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_regular_plain-webfont.svg#Klavika regular plain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "klavika medium plain";
  src: url("../fonts/klavika_medium_plain-webfont.eot");
  src: url("../fonts/klavika_medium_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_medium_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_medium_plain-webfont.woff") format("woff"), url("../fonts/klavika_medium_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_medium_plain-webfont.svg#klavika medium plain") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "klavika bold";
  src: url("../fonts/klavika_bold_bold-webfont.eot");
  src: url("../fonts/klavika_bold_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_bold_bold-webfont.woff2") format("woff2"), url("../fonts/klavika_bold_bold-webfont.woff") format("woff"), url("../fonts/klavika_bold_bold-webfont.ttf") format("truetype"), url("../fonts/klavika_bold_bold-webfont.svg#klavika bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "klavika light plain";
  src: url("../fonts/klavika_light_plain-webfont.eot");
  src: url("../fonts/klavika_light_plain-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika_light_plain-webfont.woff2") format("woff2"), url("../fonts/klavika_light_plain-webfont.woff") format("woff"), url("../fonts/klavika_light_plain-webfont.ttf") format("truetype"), url("../fonts/klavika_light_plain-webfont.svg#klavika light plain") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Klavika regular plain", "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-size: 18px; }
  @media screen and (max-width: 320px) {
    body {
      font-size: 14px; } }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  @media screen and (max-width: 764px) {
    .wrapper {
      padding: 0 30px; } }
  @media screen and (max-width: 320px) {
    .wrapper {
      padding: 0 22px; } }

header h3, h1, main article h2, aside h4, .gallery h2, .demo-description q, .demo-description cite {
  font-weight: normal;
  margin: 0; }

nav.main-menu, .gallery figcaption {
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: "klavika medium plain";
  text-align: justify; }

aside input[type="text"], aside input[type="submit"], aside textarea {
  width: 100%;
  border: 1px solid #cac9c9;
  border-radius: 2px;
  outline: none;
  background: #dedddd;
  margin-bottom: 1.11em;
  padding: 0.56em;
  font-size: 1em;
  font-family: "klavika light plain"; }

header nav.about_us a, nav.main-menu a, footer .items .services a {
  font-size: 0.9em;
  color: #ffffff;
  text-decoration: none; }

h5, h3 > span, h6 > span, cite > span,
p > span:first-child {
  font-family: "klavika bold"; }

header .header-bg {
  background: url(../images/bg-header.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    header .header-bg {
      text-align: center; } }
header h3 {
  font-size: 1.56em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0.75em 0;
  display: inline-block; }
  @media screen and (max-width: 764px) {
    header h3 {
      font-size: 1em;
      margin: 1.3em 0; } }
  @media screen and (max-width: 320px) {
    header h3 {
      margin: 1em 0; } }
header nav.about_us {
  float: right; }
  @media screen and (max-width: 320px) {
    header nav.about_us {
      display: none; } }
  header nav.about_us li {
    display: inline-block;
    padding-top: 24px; }
    @media screen and (max-width: 764px) {
      header nav.about_us li:last-child a {
        font-family: "klavika bold"; } }
    header nav.about_us li:not(:last-child) {
      padding-right: 31px; }
    @media screen and (max-width: 764px) {
      header nav.about_us li {
        padding-top: 43px; } }
  @media screen and (max-width: 764px) {
    header nav.about_us a {
      font-size: 0.8em; } }
@media screen and (max-width: 320px) {
  header .open-nav {
    cursor: pointer;
    height: 26px;
    position: absolute;
    top: 17px;
    right: 13px; }
    header .open-nav:before {
      content: "";
      display: block;
      width: 33px;
      height: 3px;
      background: #ffffff;
      border-radius: 10%;
      box-shadow: 0 8px #ffffff, 0 16px #ffffff; } }

@media screen and (max-width: 320px) {
  nav.main-menu {
    display: none; } }
nav.main-menu li {
  display: inline-block;
  line-height: 2.35em; }
  nav.main-menu li.has_submenu a:after {
    content: ">";
    display: inline-block;
    -webkit-transform: rotate(90deg) translate(-2px, -10px);
    -moz-transform: rotate(90deg) translate(-2px, -10px);
    -ms-transform: rotate(90deg) translate(-2px, -10px);
    -o-transform: rotate(90deg) translate(-2px, -10px);
    transform: rotate(90deg) translate(-2px, -10px);
    color: #000000; }
    @media screen and (max-width: 764px) {
      nav.main-menu li.has_submenu a:after {
        margin-left: -8px; } }
  nav.main-menu li.helper {
    width: 100%;
    height: 0;
    visibility: hidden; }
  nav.main-menu li:nth-last-child(2) {
    display: none; }
nav.main-menu a {
  color: #a71c1c; }
  @media screen and (max-width: 764px) {
    nav.main-menu a {
      font-size: 0.78em; } }

.slider-wrapper {
  margin-top: -20px; }
  @media screen and (max-width: 320px) {
    .slider-wrapper {
      margin-top: -6px; } }
  .slider-wrapper + .wrapper {
    position: relative; }
  .slider-wrapper .slide-img img {
    width: 100%; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  top: 15px;
  right: 46%; }
  @media screen and (max-width: 320px) {
    .slick-dots {
      top: 3px;
      right: 38%; } }
  @media screen and (max-width: 320px) {
    .slick-dots li {
      margin: 0 -4px; } }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    background: #ffffff; }
  .slick-dots li button:before {
    content: "";
    opacity: 1;
    border: 2px solid #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%; }
    @media screen and (max-width: 320px) {
      .slick-dots li button:before {
        width: 3px;
        height: 3px; } }

h1 {
  padding: 0.32em 0.32em 0.2em 0.5em;
  width: 64.34%;
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 3.3em;
  color: #ffffff;
  background: url(../images/bg-logo.png) 0 0 no-repeat;
  background-size: cover; }
  @media screen and (max-width: 764px) {
    h1 {
      font-size: 2em;
      line-height: 1.2em;
      left: -1px;
      width: auto;
      padding: 0.5em 0.5em 0.5em 0.75em; } }
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 1.6em;
      right: 0;
      padding: 9px 22px; } }

main {
  background: #f2f2f2; }
  main article {
    padding-top: 35px;
    padding-bottom: 50px;
    float: left;
    width: 64.34%;
    font-family: "Roboto", Arial, sans-serif; }
    @media screen and (max-width: 764px) {
      main article {
        width: 100%;
        float: none;
        overflow: hidden; } }
    @media screen and (max-width: 320px) {
      main article {
        padding: 19px 0 0; } }
    main article h2 {
      font-size: 2em;
      color: #c82121;
      font-family: "Klavika regular plain"; }
      @media screen and (max-width: 320px) {
        main article h2 {
          font-size: 1.6em; } }

h5 {
  font-size: 1.1em;
  color: #c82121;
  margin: 1.5em 0 1.1em; }

p {
  line-height: 1.333em; }

section.list {
  width: 50%; }
  @media screen and (max-width: 320px) {
    section.list {
      width: 100%; } }
  section.list:nth-child(n) {
    float: left; }
  section.list:nth-child(2n) {
    float: right; }
  section.list ul {
    list-style-image: url(../images/list.png);
    padding: 0 25px 0 20px;
    font-size: 0.89em;
    line-height: 1.2em; }
    @media screen and (max-width: 320px) {
      section.list ul {
        padding: 0 22px;
        font-size: 1em; } }
  section.list li {
    margin: 20px 0; }
    @media screen and (max-width: 320px) {
      section.list li {
        margin: 10px 0; } }

aside {
  width: 30.33%;
  position: relative;
  float: right;
  border-left: 3px solid #dedede;
  margin-top: -165px;
  background-color: #f2f2f2;
  padding: 30px 30px 0; }
  @media screen and (max-width: 764px) {
    aside {
      position: static;
      float: none;
      width: 100%;
      margin-top: 0;
      padding: 0;
      border-left: none;
      border-top: 2px solid #dedede; } }
  aside :focus::-moz-placeholder {
    color: transparent; }
  aside :focus::-webkit-input-placeholder {
    color: transparent; }
  aside :focus:-o-input-placeholder {
    color: transparent; }
  aside :focus:-ms-input-placeholder {
    color: transparent; }
  aside :focus::placeholder {
    color: transparent; }
  aside h4 {
    margin-bottom: 0.8em;
    font-size: 1.25em;
    color: #a71c1c; }
    @media screen and (max-width: 764px) {
      aside h4 {
        margin-top: 35px;
        font-size: 2em; } }
    @media screen and (max-width: 320px) {
      aside h4 {
        font-size: 1.5em; } }
  aside input::-moz-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input::-webkit-input-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input:-o-input-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input:-ms-input-placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  aside input::placeholder {
    font-size: 1em;
    color: #646464;
    font-family: "klavika light plain"; }
  @media screen and (max-width: 764px) {
    aside input[type="text"] {
      height: 32px; } }
  aside input[type="checkbox"] {
    margin-bottom: 1.1em; }
    aside input[type="checkbox"] + label {
      font-family: "klavika light plain"; }
  aside input[type="submit"] {
    margin-bottom: 0;
    background: #c52020;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "klavika medium plain"; }
    @media screen and (max-width: 320px) {
      aside input[type="submit"] {
        padding: 0.9em; } }
  aside textarea {
    height: 7.6em; }
    aside textarea::-moz-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea::-webkit-input-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea:-o-input-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea:-ms-input-placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
    aside textarea::placeholder {
      font-size: 1em;
      color: #646464;
      font-family: "klavika light plain"; }
  @media screen and (max-width: 764px) {
    aside .left-wrapper {
      width: 50%;
      padding-right: 10px;
      margin-bottom: 55px;
      float: left; } }
  @media screen and (max-width: 764px) and (max-width: 320px) {
    aside .left-wrapper {
      width: 100%;
      padding-right: 0;
      margin-bottom: 0; } }
  @media screen and (max-width: 764px) {
      aside .left-wrapper .checkbox {
        margin-top: 15px; } }
    @media screen and (max-width: 764px) and (max-width: 320px) {
      aside .left-wrapper .checkbox {
        margin-top: 0; } }
  @media screen and (max-width: 764px) {
    aside .right-wrapper {
      float: right;
      width: 50%;
      padding-left: 10px;
      margin-bottom: 55px; } }
  @media screen and (max-width: 764px) and (max-width: 320px) {
    aside .right-wrapper {
      width: 100%;
      padding-left: 0; } }

.gallery {
  background: #e2e1e1;
  overflow: hidden;
  padding-bottom: 70px; }
  @media screen and (max-width: 764px) {
    .gallery {
      padding-bottom: 0; } }
  .gallery h2 {
    margin: 1.6em 0 1.1em;
    color: #383838; }
    @media screen and (max-width: 320px) {
      .gallery h2 {
        margin: 1em 0;
        font-size: 1.6em; } }
  .gallery section .photo {
    width: 68.2%;
    float: left; }
    @media screen and (max-width: 764px) {
      .gallery section .photo {
        width: 100%; } }
  .gallery section .slider-wrapper {
    width: 31.8%;
    float: right;
    margin: 0; }
    @media screen and (max-width: 764px) {
      .gallery section .slider-wrapper {
        width: 100%;
        margin-top: 20px; } }
  .gallery figure {
    float: left;
    width: 31%;
    position: relative;
    margin: 0 2% 2% 0; }
    @media screen and (max-width: 764px) {
      .gallery figure {
        margin-right: 3.5%; } }
    @media screen and (max-width: 320px) {
      .gallery figure {
        width: 49%;
        margin: 1% 0 1%; } }
    @media screen and (max-width: 764px) {
      .gallery figure:nth-child(3n) {
        margin-right: 0; } }
    @media screen and (max-width: 320px) {
      .gallery figure:nth-child(even) {
        margin-left: 1%; } }
    .gallery figure img {
      width: 100%; }
  .gallery figcaption {
    height: 40%;
    background: rgba(204, 51, 51, 0.7);
    color: #ffffff;
    padding: 6% 8% 5%;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0; }
    @media screen and (max-width: 320px) {
      .gallery figcaption {
        bottom: 3px;
        font-size: 0.8em; } }
    .gallery figcaption > span {
      padding-top: 1%;
      display: block;
      font-size: 0.83rem;
      text-transform: none; }
      @media screen and (max-width: 320px) {
        .gallery figcaption > span {
          font-size: 0.9em; } }

.demo-img {
  position: relative;
  width: 100%; }
  @media screen and (max-width: 764px) {
    .demo-img img {
      width: 100%; } }

.demo-description {
  margin: 26px;
  position: absolute;
  bottom: 0;
  line-height: 2.2em; }
  @media screen and (max-width: 764px) {
    .demo-description {
      margin-right: 90px;
      bottom: 79px; } }
  @media screen and (max-width: 320px) {
    .demo-description {
      margin-right: 10px;
      bottom: 0; } }
  .demo-description q {
    font-size: 2.2em;
    color: #ffffff; }
    @media screen and (max-width: 764px) {
      .demo-description q {
        font-size: 3em;
        line-height: 1.25em; } }
    @media screen and (max-width: 320px) {
      .demo-description q {
        font-size: 2em; } }
    .demo-description q:before {
      position: absolute;
      top: -8%;
      left: -3%;
      font-size: 4em; }
    .demo-description q:after {
      content: no-close-quote; }
  .demo-description cite {
    display: block;
    font-size: 0.833em;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal; }
    @media screen and (max-width: 764px) {
      .demo-description cite {
        font-size: 1em; } }
    @media screen and (max-width: 320px) {
      .demo-description cite {
        font-size: 0.8em; } }

.demo .slick-prev {
  z-index: 1;
  top: 8%;
  left: 80%; }
  @media screen and (max-width: 764px) {
    .demo .slick-prev {
      left: 87%; } }
  @media screen and (max-width: 320px) {
    .demo .slick-prev {
      left: 81%; } }
  .demo .slick-prev:before {
    content: '<'; }
    @media screen and (max-width: 320px) {
      .demo .slick-prev:before {
        font-size: 15px; } }
.demo .slick-next {
  top: 8%;
  right: 5%; }
  .demo .slick-next:before {
    content: '>'; }
    @media screen and (max-width: 320px) {
      .demo .slick-next:before {
        font-size: 15px; } }

.slick-slider .slick-track {
  -webkit-transform: 1s;
  -moz-transform: 1s;
  -ms-transform: 1s;
  -o-transform: 1s;
  transform: 1s; }

footer {
  color: #ffffff;
  background: url(../images/bg-footer.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden; }
  footer h2 {
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 1.8em 0 1.25em; }
    @media screen and (max-width: 320px) {
      footer h2 {
        display: none; } }
  footer .contacts {
    width: 50%;
    float: right;
    padding-left: 115px;
    overflow: hidden; }
    @media screen and (max-width: 764px) {
      footer .contacts {
        width: 100%;
        padding-left: 0; } }
    footer .contacts h6 {
      margin: 2.4em 0 1.25em;
      font-size: 1.6em;
      font-weight: normal; }
      @media screen and (max-width: 764px) {
        footer .contacts h6 {
          font-size: 1.4em; } }
    footer .contacts p {
      padding-bottom: 37px; }
      @media screen and (max-width: 764px) {
        footer .contacts p {
          display: block;
          width: 50%;
          float: left; } }
      @media screen and (max-width: 320px) {
        footer .contacts p {
          width: 100%;
          padding-bottom: 30px;
          font-size: 0.75em; } }
      footer .contacts p > span {
        display: inline-block;
        font-size: 1.06em;
        line-height: 1.67em; }
      @media screen and (max-width: 764px) {
        footer .contacts p:last-child {
          float: right;
          padding-left: 30px; } }
      @media screen and (max-width: 320px) {
        footer .contacts p:last-child {
          padding-left: 0; } }
      @media screen and (max-width: 320px) {
        footer .contacts p:last-child > span {
          display: block; } }
  footer .items {
    width: 50%;
    float: left;
    padding-right: 15px;
    overflow: hidden; }
    @media screen and (max-width: 764px) {
      footer .items {
        width: 100%; } }
    footer .items .services a {
      border-bottom: 1px solid #b04848;
      display: block;
      line-height: 2.4em; }
      @media screen and (max-width: 764px) {
        footer .items .services a {
          font-size: 1em; } }
      footer .items .services a:empty {
        height: 2.4em; }
        @media screen and (max-width: 320px) {
          footer .items .services a:empty {
            display: none; } }
    footer .items .services.either {
      margin-top: 65px; }
      @media screen and (max-width: 320px) {
        footer .items .services.either {
          margin-top: 0; } }
    footer .items .services ul:nth-child(odd), footer .items .services.either ul:nth-child(odd) {
      width: 50%;
      float: left;
      padding-right: 30px; }
      @media screen and (max-width: 320px) {
        footer .items .services ul:nth-child(odd), footer .items .services.either ul:nth-child(odd) {
          width: 100%; } }
    footer .items .services ul:nth-child(even), footer .items .services.either ul:nth-child(even) {
      width: 50%;
      float: right; }
      @media screen and (max-width: 320px) {
        footer .items .services ul:nth-child(even), footer .items .services.either ul:nth-child(even) {
          width: 100%; } }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul > h5 {
    margin-top: 0;
    margin-bottom: 0.7em;
    font-size: 1.1em;
    color: #ffffff;
    text-transform: uppercase; }
    @media screen and (max-width: 320px) {
      ul > h5 {
        margin-top: 57px; } }

.copyright {
  margin-top: 100px;
  margin-bottom: 120px;
  border-top: 1px solid #b04848; }
  @media screen and (max-width: 764px) {
    .copyright {
      margin-top: 0;
      margin-bottom: 66px; } }
  .copyright p:first-child {
    font-size: 0.6em;
    line-height: 2.8em;
    font-family: Arial;
    float: left; }
    .copyright p:first-child > span {
      font-weight: bold; }
      .copyright p:first-child > span:before {
        content: "";
        display: inline-block;
        background: url(../images/sprite.png) 0 -15px no-repeat;
        height: 18px;
        width: 18px;
        vertical-align: top;
        margin: 5px 8px 0 5px; }
  .copyright p:last-child {
    float: right;
    font-size: 0.8em; }
    @media screen and (max-width: 764px) {
      .copyright p:last-child {
        display: none; } }

p > span {
  margin-right: 1.35em; }

@media screen and (max-width: 320px) {
  #tel {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: #787878;
    font-family: "klavika light plain"; }
    #tel > span {
      display: block;
      padding: 10px 0;
      font-size: 2em;
      color: #c72121;
      font-family: inherit; } }
.to_top {
  display: none; }
  @media screen and (max-width: 320px) {
    .to_top {
      display: block;
      border: 2px solid #ffffff;
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
      color: #ffffff;
      line-height: 34px; } }

/*# sourceMappingURL=styles.css.map */
>>>>>>> 94aec45a621a960f47d211f24c314a7bb06f723a
