$regular: 'Klavika regular plain';
$medium: 'klavika medium plain';
$light: 'klavika light plain';
$bold: 'klavika bold';
$fallback-font: 'Roboto', Arial, sans-serif;
$white: #ffffff;
$black: #000000;
$primary_red: #a71c1c;
$primary_red_transparent:rgba(204, 51, 51, 0.7);
$body-font-size: 18px;
$main-bgr: #f2f2f2;
$headline-color: #c82121;
$border-color: #dedede;
$form-bg: #dedddd;
$submit-bg: #c52020;
$form-border: 1px solid #cac9c9;
$h1: 3.3em;
$h2: 2em;
$h3: 1.56em;
$h4: 1.25em;
$h5: 1.1em;
$h6: 1.6em;
$list-font: 0.89em;
$gallery-bg: #e2e1e1;
$footer-border: 1px solid #b04848;
$screen-medium: 764px;
$screen-small: 320px;
